.subscribe-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.photo-container {
    position: relative;
    display: inline-block;
}

.like-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.like-count {
    margin-left: 5px;
}
.insta_card{
    width: 400px;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0 auto;
}
body{
    padding-bottom: 300px;
}
.subscribe{
    background: #2c2ccc;
    color: #ffffff;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 3px;
}

.unsubscribe{
    background: #2c2ccc;
    color: #ffffff;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 3px;
}
.inf_user{
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
}
.inf_user .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.user_name{
    display: flex;
    align-items: center;
}
.carousel-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.img-box{
    width: 100%;
    height: 27vh;
    padding: 10px;

}

.uni-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

.img-box img{
    width: 100%;
    height: 100%;
}


.just-img{
    justify-content: start!important;
}

.box-btn{
    display: flex;
    gap: 25px;
}

.btn-delete{
    width: 100%;
    margin-top: 10px;
}


.delete{
    width: 100%;
}

.img-picture{
    height: 47vh;
    width: 100%;
}

.menu-photo{
    height: 95%!important;

}

.box{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.box-menu{
    width: 33%;
    height: 27vh;
    padding: 10px;
}

h3{
    margin-top: 20px!important;
    font-weight: 900!important;
    color: coral!important;
}

.d-flex{
    gap: 10px;
}

.chicken-box{
    display: inherit;
    justify-content: end;
}

.insta_card{
    width: 55%!important;
    margin-bottom: 10px;
}

.user-head{
    width: 200px;
    display: flex;
    align-items: center;
}
